<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partida</title>
</head>
<body>
    <h1>Digite os dados da partida:</h1>
    <form action="" method="post">
        Local: <input name="local_partida"> <br>
        Inicio da partida: <input name="inicio" type="datetime-local"> <br>
        Fim da partida: <input name="fim" type="datetime-local"> <br>
        <input type="submit" value="enviar">
    </form>
</body>
</html>